@import "vars";

@mixin layoutDimensions {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

// banner elements
@mixin banner {
    border-bottom: 1px solid $grayMed;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 100%;
    margin-bottom: $baseMeasure;

    @media #{$mobiles} {
        height: 300px;
    }
    
    span {
        color: $white;
        font: {
            size: $baseMeasure*5;
            weight: bold;
        }
        opacity: .8;
        text-shadow: 0 0 6px rgba(0,0,0,0.4);

        @media #{$mobiles} {
            font-size: $baseMeasure*3;
        }
    }
}