---
---
@import "vars", "reset", "mixins";

::selection {
    background: $brandColor;
    color: $white;
}

::-moz-selection {
    background: $brandColor;
    color: $white;
}

html,
body {
    font: {
        family: $sansSerif;
        size: $baseMeasure;
    }
    line-height: 1.5;
    background: $grayLight;;
    color: $black;
    letter-spacing: .02em;
    
    a {
        color: $brandColor;
        transition: color .3s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            color: darken($brandColor,15%);
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    .banner {
        @include banner;
    }

    .headerWrap {
        @include layoutDimensions;

        .header {
            background: $white;
            border-bottom: 1px solid $grayMed;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: $baseMeasure*.3125;

            @media #{$mobiles} {
                flex-direction: column;
                
                .phone {
                    text-align: center;
                }
            }

            .title {
                font: {
                    size: $baseMeasure*2;
                    weight: bold;
                }
                line-height: $baseMeasure*2.5;

                @media #{$mobiles} {
                    font-size: $baseMeasure*1.5;
                }

                a {
                    color: $black;
                    text-decoration: none;

                    &:hover,
                    &:focus,
                    &:active {
                        color: unset;
                    }
                }
            }

            .nav {
                display: flex;
                flex-direction: row;

                @media #{$mobiles} {
                    margin-bottom: $baseMeasure/2;
                }

                li {
                    margin-right: $baseMeasure/2;

                    &:after {
                        content: '•';
                        margin-left: $baseMeasure/2;
                    }

                    &:last-child {
                        &:after {
                            content: '';
                            margin-left: 0;
                        }
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    strong {
        font-weight: bold;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $grayMed;
        margin: 0 0 $baseMeasure*.625;
        width: 60%;

        @media #{$mobiles} {
            width: 100%;
        }
    }

    table {
        margin-bottom: $baseMeasure;

        td {
            padding-right: $baseMeasure/2;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

body {
    padding: 0 0 $baseMeasure;
}

#main {
    @include layoutDimensions;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font: {
            size: $baseMeasure;
            weight: bold;
        };
        line-height: 1;
        margin-bottom: $baseMeasure;
    }

    h1 {
        font-size: $baseMeasure*6;
    }
    
    h2 {
        font-size: $baseMeasure*5;
    }

    h3 {
        font-size: $baseMeasure*4;
    }

    h4 {
        font-size: $baseMeasure*3;
    }

    h5 {
        font-size: $baseMeasure*2;
    }

    
    p {
        margin: 0 0 $baseMeasure 0;
    }

    .iframeWrap {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;

        iframe {
            border: 0;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
        }
    }

    .storeMap {
        border: 1px solid $grayMed;
        border-radius: $borderRadiusBase;
        margin-bottom: $baseMeasure;
    }

    blockquote {
        font-style: italic;
        padding-left: $baseMeasure;
        border-left: 4px solid $brandColor;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $baseMeasure*.625;

        li {
            margin-right: $baseMeasure*.75;

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 100%;
                header: auto;
                border-radius: $borderRadiusBase;
                border: 1px solid $grayMed;
            }
        }
    }

    .button {
        height: $baseMeasure*2.25;
        line-height: $baseMeasure*2;
        padding: 0 $baseMeasure;
        background: $brandColor;
        border-radius: $borderRadiusBase;
        display: inline-block;
        color: $white;
        text-decoration: none;
        transition: background-color .3s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($brandColor,15%);
        }
    }

    .location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .social {
        display: flex;
        flex-direction: row;
        margin: {
            bottom: $baseMeasure;
            top: $baseMeasure;
        }
        
        a {
            outline: 0;
            text-decoration: none;
            margin-right: $baseMeasure;

            &:last-child {
                margin-right: 0;
            }
        }
        
        img {
            width: $baseMeasure*1.5;
            height: $baseMeasure*1.5;
        }
    }
}