---
layout: compress
---
<!DOCTYPE html>
<html{% if page.title %} class="{{ page.title }}"{% endif %}>
  <head>
    <title>{{ site.name }}</title>
    {% include meta.html %}
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/fslightbox.min.css" />
  </head>
  <body{% if page.title %} class="{{ page.title }}"{% endif %}>
    {% include header.html %}
    {% include banner.html path='/assets/img/store' image=page.image %}
    <div id="main" role="main" class="container">
      {{ content }}
      <hr />
      {% include footer.html %}
    </div>
    {% include analytics.html %}
    <script src="/assets/js/fslightbox.min.js"></script>
  </body>
</html>